@font-face {
  font-family: "SourceHanSerifTC";
  src: url("https://acertainpersons.github.io/Content/fonts/SourceHanSerifTC-SemiBold.otf") format("opentype"), url("https://acertainpersons.github.io/Content/fonts/SourceHanSerifTC-SemiBold.woff") format("woff");
  font-family: "cwTeXKai";
  src: url("https://acertainpersons.github.io/Content/fonts/cwTeXKai-zhonly.woff") format("woff");
}
body {
  height: 100%;
  margin: 0;
  font-family: "oxygen", sans-serif;
  background: #1e1e2e;
}

.header, .headerzh, .bodybody, .bodybodyzh {
  margin: 0;
  padding: 75px 30px 50px 30px;
}

.header, .headerzh {
  background: #585b70;
  padding-bottom: 10px;
  padding-top: 20px;
}

.header h1 {
  font-family: "Times New Roman", Times, serif;
}

.headerzh h1 {
  font-family: "SourceHanSerif", serif;
}

h5 {
  color: #cdd6f4;
}

.longtext p {
  line-height: 2;
  text-indent: 50px;
}

.bodybody, .bodybodyzh {
  padding-left: 5%;
  padding-right: 5%;
}

.header a, .headerzh a {
  color: #a6e3a1;
  text-decoration: none;
}

h2 {
  color: #cdd6f4;
}

.bodybodyzh h3 {
  font-family: "cwTeXKai", cursive;
}

.bodybody h3 {
  font-family: "Permanent Marker";
  font-size: 250px;
}

p.about {
  color: #f9e2af;
}

a {
  color: #89b4fa;
}

ol li {
  line-height: 1.26;
  color: #cdd6f4;
  font-size: 16px;
}

.navbar ul {
  list-style: none;
  padding: 0;
}
.navbar ul li {
  display: inline;
  padding-right: 10px;
  font-size: 20px;
  color: #bac2de;
}
.navbar ul a {
  color: #cdd6f4;
}
.navbar ul a:hover {
  color: white;
  text-decoration: underline;
}

.license {
  padding-top: 200px;
  padding-bottom: 20px;
  font-size: 15px;
}

.testimg {
  margin-top: 200px;
  text-align: center;
}

.languageszh {
  writing-mode: vertical-rl;
  padding-top: 0;
  padding-left: 0;
  width: 50px;
  height: 100%;
  position: fixed;
  left: 0;
}
.languageszh ul li {
  padding-bottom: 10px;
  display: inline;
  font-size: 13px;
  color: #bac2de;
}

.languages, .languageszh {
  padding-top: 0;
  padding-left: 0;
  position: fixed;
  background: rgb(88, 91, 112);
  background: rgba(88, 91, 112, 0.5);
}
.languages ul a, .languageszh ul a {
  color: #89b4fa;
}

.languages {
  width: 100%;
  height: 50px;
  bottom: 0;
}
.languages ul li {
  display: inline;
  padding-right: 10px;
  font-size: 13px;
  color: #bac2de;
}

dl dt {
  color: #bac2de;
  font-size: 16px;
}
dl dd {
  color: #bac2de;
  font-size: 8vh;
}

.button, .buttonen {
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
}

.buttonul a {
  color: #89b4fa;
}

.button ul a:hover, .buttonen ul a:hover {
  color: white;
  text-decoration: underline;
}

h3 {
  margin: 0px;
}

h4 {
  font-size: 24px;
  color: #a6adc8;
}

.stats {
  display: block;
  margin: auto;
}

.pins {
  margin-right: 5vw;
  margin-bottom: 5vh;
  max-width: 90vw;
  width: 400px;
  transition: width 2s;
}
.pins:hover {
  width: 500px;
}

/* Buttons */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 50px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-full:link,
.btn-full:visited {
  border: 1px solid hsl(35, 77%, 50%);
  background-color: hsl(35, 77%, 50%);
  color: white;
  margin-right: 15px;
}

.btn:hover,
.btn:active {
  background-color: hsl(35, 77%, 47%);
  border: 1px solid hsl(35, 77%, 47%);
}

@media screen and (min-width: 800px) {
  .bodybody p, .bodybodyzh p {
    color: #cdd6f4;
  }
  .headerzh {
    padding: 0;
    padding-top: 30px;
    font-size: 30px;
    position: fixed;
    right: 0;
    height: 100%;
  }
  .bodybodyzh {
    margin: 0;
    font-weight: 300;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: normal;
    width: 90%;
    height: calc(100% - 125px);
    float: right;
  }
  .bodybodyzh h2 {
    margin-right: 600px;
  }
  .bodybodyzh p {
    color: #cdd6f4;
    font-size: 18px;
    line-height: 30px;
  }
  .bodybodyzh ol li {
    font-size: 18px;
  }
  .headerzh, .bodybodyzh {
    font-family: Noto Sans Traditional Chinese, sans-serif;
    writing-mode: vertical-rl;
  }
  .header {
    font-size: 25px;
  }
  .content {
    width: 1400px;
    margin: auto;
    font-size: 20px;
  }
  .longtext {
    width: 900px;
    margin: auto;
  }
  h2 {
    font-size: 42px;
  }
  .licensezh {
    padding-left: 150px;
    padding-right: 200px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 800px) {
  .bodybodyzh p {
    color: #cdd6f4;
    font-size: 15px;
    line-height: 30px;
  }
  .bodybodyzh ol li {
    font-size: 15px;
  }
  .bodybody p {
    font-size: 16px;
  }
  .bodybody ol li {
    font-size: 16px;
  }
  h2 {
    font-size: 32px;
  }
  .licensezh {
    padding-left: 0;
    padding-top: 200px;
    padding-bottom: 20px;
  }
  .languageszh {
    width: 100%;
    height: 50px;
    bottom: 0;
  }
}
@media only screen and (max-width: 1432px) {
  .bodybody h3, .bodybodyzh h3 {
    font-size: 50px;
  }
  .button, .buttonen {
    float: left;
  }
}
@media only screen and (min-width: 1432px) {
  .bodybodyzh h3 {
    font-size: 250px;
  }
  .button, .buttonen {
    float: center;
  }
}
@media screen and (max-width: 1432px) and (min-width: 800px) {
  .button {
    margin-bottom: 65vh;
  }
}

/*# sourceMappingURL=index.css.map */
