@font-face {
	font-family: "SourceHanSerif";
	src:
	  url("SourceHanSansHWHC-Regular.otf") format("opentype");
  }
  

body{
	height: 100%;
    margin: 0;
	font-family: "oxygen", sans-serif;
	background:#1e1e2e;
	}

.header,.headerzh, .bodybody, .bodybodyzh{
	margin: 0;
	padding:75px 30px 50px 30px;
	}

.header, .headerzh{
    background: #585b70;
    padding-bottom: 10px;
    padding-top: 20px;
	
    }

.header{
	font-size: 25px;
	}

.header h1{
	font-family: 'Times New Roman', Times, serif;
	}	

.headerzh h1{
	font-family: SourceHanSerif;
	}	

.headerzh{
	font-family: Noto Sans Traditional Chinese, sans-serif;
	font-size: 30px;
	}

.bodybody, .bodybodyzh{
	margin-left: 10%;
	margin-right: 10%;
    }

.bodybodyzh{
	font-weight: 300;
	}

.bodybodyzh{
	font-family: Noto Sans Traditional Chinese, sans-serif;
	}

.header a, .headerzh a{
    color:#a6e3a1;
	text-decoration: none;
    }

h2	{
	color:#cdd6f4;
	font-size: 32px;
	}

.bodybody p	{
	color:#cdd6f4;
	font-size:16px;
	}

.bodybodyzh p{
	color:#cdd6f4;
	font-size: 18px;
	}
	
p.about {
	color:#ff0;   
	}
	
a	{
	color:#89b4fa;  
	}

ol li	{
	color:#bac2de;
	}

.bodybody ol li {
	font-size:16px;
	}

.bodybodyzh ol li {
	font-size:18px;
	}
	
.navbar ul	{
	list-style:none;
	padding:0px;
	}

/* navbar*/	
.navbar ul li{
	display:inline;
	padding-right:10px;
	font-size:20px;
    color:#bac2de;
	}
	
.navbar ul a{
	color:#cdd6f4;
	}
	
.navbar ul a:hover {
	color:white;
	text-decoration:underline;
	}
/*navbar end*/

.license    {
    margin-top: 100px;
	padding-bottom: 20px;
    }

.bodybody h3{
    font-family: "Permanent Marker";
	font-size: 100px;
    }

.bodybodyzh h3  {
    font-family: "Ma Shan Zheng";
	font-size: 250px;
    }	

.testimg{
	margin-top: 200px;
	text-align: center;
	}

.languages{
	padding-top: 0;
	width: 100%;
	position: fixed;
	bottom: 0;
	background: rgb(88, 91, 112); /* If no RGBA */
    background: rgb(88, 91, 112, 0.5);
	}

.languages ul li{
	display:inline;
	padding-right:10px;
	font-size:13px;
    color:#bac2de;
	}
	
.languages ul a{
	color:#89b4fa;
	}
	
.embed {
	margin-left: 10%;
	}

dl dt	{
	color:#bac2de;
	font-size:16px;
	}

dl dd	{
	color:#bac2de;
	font-size: 100px;
	}

.button	{
	text-align: center;
	margin-bottom: 150px;
	}
	
.button ul	{
	list-style:none;
	padding:0px;
	}
	
.button ul li{
	display:inline;
	padding-right:10px;
	font-size:18px;
	}
	
.buttonul a {
	color:#36f;
	}
	
.button ul a:hover {
	color:white;
	text-decoration:underline;
	}

h3	{
	margin: 0px;
	}
	
/*-----------------------------*/
/*           BUTTONS           */
/*-----------------------------*/

.btn:link,
.btn:visited	{
	display: inline-block;
	padding: 10px 50px;
	font-weight: bold;
	text-decoration:none;
	border-radius:200px;
	transition: background-color 0.5s, border 0.5s, color 0.5s;
	}
	
.btn-full:link,
.btn-full:visited {
	border: 1px solid #e67e22;
	background-color: #e67e22;
	color: #fff;
	margin-right: 15px;
	}
	
.btn-ghost:link,
.btn-ghost:visited {
	border: 1px solid #e67e22;
	color: #e67e22;
	}

.btn:hover,
.btn:active {
	background-color: #cf6d17;
	border: 1px solid: #cf6d17;
	}
	
.btn-ghost:hover,
.btn-ghost:active	{
	color:white;
		}
/*end*/