// Need to add a mobile version
	
// Variables
$Neon: #4CBDB5
$Black: #070F11
$Green: #76EA7C
$Red: #D76C6F
$Grey: #A4BEB5
$Orange: #e8be53
$Purple: #6725ea
$Neutral: #262626
	
body
	font-family: "Aldrich", sans-serif
	font-weight: 400
	color: $Neon
	background-color: $Black
	margin-left: 10%
	margin-right: 10%
	margin-top: 2%

.header
	border: 2px solid $Neon
	padding-left: 20px
	padding-right: 20px
	margin-bottom: 56px

.body
	//border: 1px solid $Neon
	margin-top: 20px
	padding-left: 20px
	padding-right: 20px

h3
	font-weight: 600

th
	padding-right: 5%

.entry
	border: 5px solid
	padding-left: 20px
	padding-right: 20px
	//width: 40%
	text-align: left
	font-weight: 400
	&:hover
		background: $Neutral

.entry1
	//float: left
	border-color: $Green
	color: $Green

.entry2
	//float: right
	border-color: $Orange
	color: $Orange
	
.footer
	margin-top: 64px
	&:visited
		color: $Purple